$color-text: #505050;
$font-family: 'Roboto';


body{
	background-color: #f1f1f1e2;
}

.navbar_1{
	height: 64px;
	padding: 0;

	&-div{
		background-color: white;
	}
	.justify-content-end{
		height: 64px;
		//background-color: yellow;
	}

	.icons-nb{
		//background-color: red;
		display: flex;
		height: 64px;
		align-items: center;
	
		&-img{
		//background-color: yellow;
			height: 14px;
			width: 21px;
		}
	
		&-text{
		//background-color: yellow;
			font-family: $font-family;
			font-style: normal;
			font-size: 18px;
			color: $color-text;
		}
	
		&-right{
			//background-color: aqua;
			margin-right: 32px;
			margin-top: 11px;
		
				&-text{
					font-family: $font-family;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					color: $color-text;
				}
				
				&-img{
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
		}
	}	
}

.navbar_2{
	min-height: 40px;
	padding: 0;
	
	&-div{
		background-color: #fafafa;
		margin-right: 0;
		padding-right: 0;
		&-there{
			background-color: #f1f1f1e2;
		}
		&-li{
			position: absolute;
			right: 318px;
		}
		&-li2{
			position: absolute;
			right: 212px;
		}
		&-li3{
			position: absolute;
			right: 106px;
		}
		&-li4{
			position: absolute;
			right: 0px;
		}
	}

	&-link{
		//background-color: aquamarine;
		height: 40px;
		width: 106px;
		font-size: 14px;
		font-family: $font-family;
		//border: 1px solid #000;
		display: flex;
		&-text{
			margin-left: 11px; margin-right: 0 auto;
		}
	}

	&-img{
		width: 15px;
		height: 15px;
		//background-color: bisque;
		margin-left: 5px; 
		margin-right: 0 auto;
		margin-top: 3px;

		&-set{
			width: 10px;
			height: 10px;
			margin-left: 15px;
			margin-right: 0 auto;
			margin-top: 5px;
		}
	}
}

/*первая страничка */
.all{
	display: flex;
	justify-content:center;
	min-height: 80vh;
	//flex-grow: 1;
}
.sec1{
	//background-color: aqua;
	width: 1128px;
	height: auto;
	//border: 1px solid #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	// justify-content: center;
}
.post{
		padding: 32px;
		width: 1080px;//
		max-height: 672px;//
		background-color: white;
		// justify-content: center;
		&-comm{
			display: flex;
			align-items: center;
			//background-color: #5095EC;
			height: 56px;
			&-text{
				margin-top: 0;
				margin-bottom: 0;
				font-family: $font-family;
				font-size:14px;
				margin-left: 16px;
				margin-right: 36px;
			}
		}
		&-div{
			border-left: 2px solid #D3D8DE;
			&-text{
				font-family: $font-family;
				font-size:14px;
				margin-left: 8px;
				&2{
					font-family: $font-family;
					font-size:14px;
					margin-left: 8px;
					color: #8F8F8F;
				}
			}
		}
		&_hide{
			background-color: white;
			width: 1080px;
			height: 56px;
			margin-top: 32px;
			display: flex;
			align-items: center;
			padding-left: 32px;
			padding-right: 32px;

			//justify-content: center;
			&-ul{
				margin-left: auto;
				list-style-type: none;
			}
			&-li{
				//display: inline;
				margin-right: 30px;
			}
			&-text{
				font-family: $font-family;
				font-size:16px;
				margin: 7px;
			}
		&-div{
			margin-left: auto;
			//background-color: lightsteelblue;
			min-width: auto;
			display: flex;
			align-items: center;
			justify-content: center;

		}
	}
}

.sec2{
	//background-color: aquamarine;
	min-width: 312px;
	height: auto;
	//border: 1px solid #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 32px;

	&-div{
		width: 264px;
		background-color: white;
		margin-bottom: 32px;

		&1{
			height: 296px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			&-ul{
				padding: 0;
				list-style-type: none;
				margin-top: 15px;
			}
			&-li{
				display: inline;
			}
			&-icon{
				width: 20px;
				height: 20px;
			}
			&-avatar{
				border-radius: 50%;
				width: 132px;
				margin-bottom: 15px;
			}
			&-text{
				font-family: $font-family;
				&1{
					color: $color-text;
					font-family: $font-family;
					font-size: 18px;
					margin: 0 auto;
				}
				&2{
					color: #8F8F8F;
					font-family: $font-family;
					font-size: 14px;
					margin: 0 auto;
				}
			}
		}
		&2{
			height: 312px;

			&-text{
				display: inline;
				font-size: 12px;
				color: #8F8F8F;
				margin-left: 96px;
				font-family: $font-family;
			}

			&-nav{
				//background-color: blue;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 0;
				padding: 0 16px;
				height: 37px;

				&-text{
					text-decoration: none;
					color: #505050;
					font-size: 14px;
					margin: 0 auto;
					margin-left: 0px;
				}
				&2{
					height: 98px;
					//background-color: lightskyblue;
				}
			}

			&-ul{
				padding-top: 10px;
				padding-left: 20px;
				list-style-type: none;
			}
			&-li{
				margin-bottom: 17px;
			}
			&-a{
				text-decoration: none;
				color: #505050;
				margin-left: 20px;
				font-size: 14px;
				font-family: $font-family;
			}
			&-icon{
				width: 16px;
				height: 16px;
			}
		}
		&3{
			height: auto;
			//background-color: lightcoral;

			
			&-div{
				//background-color: lightblue;
				padding: 8px 16px 16px 16px;
				//margin: 0px;
			}
			&-textarea{
				width: 100%;
				color: #D3D8DE;
				font-size: 14px;
				border-color: #D3D8DE;
				border-radius: 4px;
				font-family: $font-family;
			}
			&-button{
				background-color: #5095EC;
				height: 32px;
				border-radius: 4px;
				font-family: $font-family;
				color: white;
				font-size: 14px;
				width: 100%;
				border: none;
			}
		}
	}
}

hr{
	margin:0;
	size: 1px;
}

/*вторая страничка */
.preloader{
	position: absolute;
	width: 100vw;
	height: 100vh;
	bottom: 32px;
	z-index: 2;
	transition: 0.4s all;
	opacity: 1;
	visibility: visible;

	.loader{
		width: 120px;
		height: 120px;
		border: 10px solid rgb(141, 141, 141);
		border-radius: 50%;
		border-left-color: rgb(246, 246, 246);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		animation: 1s spin infinite linear;
		//background-color: yellow;
	}
	&.done{
		opacity: 0;
		visibility: hidden;
	}
	
}

@keyframes spin{
	from{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	to{
		transform: translate(-50%,-50%) rotate(360deg);
	}
}

.map{
	display: flex;
	justify-content: center;
	//background-color: #5095EC;
	width: 100vw;

	&-div{
		margin: 32px;
		padding: 32px;
		max-width: 1376px;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		//position: relative;
	}
	&-div2{
		display: flex;
		max-width: 1312px;
		width: 90vw;
		//background-color: aqua;
		justify-content: space-between;
	}
	&-ul{
		margin-left: auto;
		list-style-type: none;
	}
	&-li{
		display: inline;
		margin-left: 8px;
	}
	&-block{
		max-width: 1312px;
		width: 90vw;
		max-height: 480px;
		height: 50vh;
		background-color: rgb(224, 224, 224);
	}
	&-text{
		font-family: $font-family;
		font-size:16px;
	}
}
/*третья страничка */
.timer{
	display: flex;
	justify-content: center;


	&-div{
		margin: 32px;
		padding: 32px;
		width: 1376px;
		height: 123;
		background-color: white;
		display: flex;
		}
		
	&-text{
	
			font-family: $font-family;
			font-size: 16px;
		}
	&-time{
			font-family: $font-family;
			font-size:16px;
			font-weight:bold;
		}
	&-ul{
		margin-left: auto;
		list-style-type: none;
	}
	&-li{
		display: inline;
		margin-left: 8px;
	}
	&-icon{
		width: 13px;
		height: 13px;
	}
}
	
