@charset "UTF-8";
body {
  background-color: rgba(241, 241, 241, 0.8862745098);
}

.navbar_1 {
  height: 64px;
  padding: 0;
}
.navbar_1-div {
  background-color: white;
}
.navbar_1 .justify-content-end {
  height: 64px;
}
.navbar_1 .icons-nb {
  display: flex;
  height: 64px;
  align-items: center;
}
.navbar_1 .icons-nb-img {
  height: 14px;
  width: 21px;
}
.navbar_1 .icons-nb-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  color: #505050;
}
.navbar_1 .icons-nb-right {
  margin-right: 32px;
  margin-top: 11px;
}
.navbar_1 .icons-nb-right-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #505050;
}
.navbar_1 .icons-nb-right-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar_2 {
  min-height: 40px;
  padding: 0;
}
.navbar_2-div {
  background-color: #fafafa;
  margin-right: 0;
  padding-right: 0;
}
.navbar_2-div-there {
  background-color: rgba(241, 241, 241, 0.8862745098);
}
.navbar_2-div-li {
  position: absolute;
  right: 318px;
}
.navbar_2-div-li2 {
  position: absolute;
  right: 212px;
}
.navbar_2-div-li3 {
  position: absolute;
  right: 106px;
}
.navbar_2-div-li4 {
  position: absolute;
  right: 0px;
}
.navbar_2-link {
  height: 40px;
  width: 106px;
  font-size: 14px;
  font-family: "Roboto";
  display: flex;
}
.navbar_2-link-text {
  margin-left: 11px;
  margin-right: 0 auto;
}
.navbar_2-img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 0 auto;
  margin-top: 3px;
}
.navbar_2-img-set {
  width: 10px;
  height: 10px;
  margin-left: 15px;
  margin-right: 0 auto;
  margin-top: 5px;
}

/*первая страничка */
.all {
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

.sec1 {
  width: 1128px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.post {
  padding: 32px;
  width: 1080px;
  max-height: 672px;
  background-color: white;
}
.post-comm {
  display: flex;
  align-items: center;
  height: 56px;
}
.post-comm-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  font-size: 14px;
  margin-left: 16px;
  margin-right: 36px;
}
.post-div {
  border-left: 2px solid #D3D8DE;
}
.post-div-text {
  font-family: "Roboto";
  font-size: 14px;
  margin-left: 8px;
}
.post-div-text2 {
  font-family: "Roboto";
  font-size: 14px;
  margin-left: 8px;
  color: #8F8F8F;
}
.post_hide {
  background-color: white;
  width: 1080px;
  height: 56px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}
.post_hide-ul {
  margin-left: auto;
  list-style-type: none;
}
.post_hide-li {
  margin-right: 30px;
}
.post_hide-text {
  font-family: "Roboto";
  font-size: 16px;
  margin: 7px;
}
.post_hide-div {
  margin-left: auto;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec2 {
  min-width: 312px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.sec2-div {
  width: 264px;
  background-color: white;
  margin-bottom: 32px;
}
.sec2-div1 {
  height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec2-div1-ul {
  padding: 0;
  list-style-type: none;
  margin-top: 15px;
}
.sec2-div1-li {
  display: inline;
}
.sec2-div1-icon {
  width: 20px;
  height: 20px;
}
.sec2-div1-avatar {
  border-radius: 50%;
  width: 132px;
  margin-bottom: 15px;
}
.sec2-div1-text {
  font-family: "Roboto";
}
.sec2-div1-text1 {
  color: #505050;
  font-family: "Roboto";
  font-size: 18px;
  margin: 0 auto;
}
.sec2-div1-text2 {
  color: #8F8F8F;
  font-family: "Roboto";
  font-size: 14px;
  margin: 0 auto;
}
.sec2-div2 {
  height: 312px;
}
.sec2-div2-text {
  display: inline;
  font-size: 12px;
  color: #8F8F8F;
  margin-left: 96px;
  font-family: "Roboto";
}
.sec2-div2-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 0 16px;
  height: 37px;
}
.sec2-div2-nav-text {
  text-decoration: none;
  color: #505050;
  font-size: 14px;
  margin: 0 auto;
  margin-left: 0px;
}
.sec2-div2-nav2 {
  height: 98px;
}
.sec2-div2-ul {
  padding-top: 10px;
  padding-left: 20px;
  list-style-type: none;
}
.sec2-div2-li {
  margin-bottom: 17px;
}
.sec2-div2-a {
  text-decoration: none;
  color: #505050;
  margin-left: 20px;
  font-size: 14px;
  font-family: "Roboto";
}
.sec2-div2-icon {
  width: 16px;
  height: 16px;
}
.sec2-div3 {
  height: auto;
}
.sec2-div3-div {
  padding: 8px 16px 16px 16px;
}
.sec2-div3-textarea {
  width: 100%;
  color: #D3D8DE;
  font-size: 14px;
  border-color: #D3D8DE;
  border-radius: 4px;
  font-family: "Roboto";
}
.sec2-div3-button {
  background-color: #5095EC;
  height: 32px;
  border-radius: 4px;
  font-family: "Roboto";
  color: white;
  font-size: 14px;
  width: 100%;
  border: none;
}

hr {
  margin: 0;
  size: 1px;
}

/*вторая страничка */
.preloader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 32px;
  z-index: 2;
  transition: 0.4s all;
  opacity: 1;
  visibility: visible;
}
.preloader .loader {
  width: 120px;
  height: 120px;
  border: 10px solid rgb(141, 141, 141);
  border-radius: 50%;
  border-left-color: rgb(246, 246, 246);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 1s spin infinite linear;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.map {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.map-div {
  margin: 32px;
  padding: 32px;
  max-width: 1376px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-div2 {
  display: flex;
  max-width: 1312px;
  width: 90vw;
  justify-content: space-between;
}
.map-ul {
  margin-left: auto;
  list-style-type: none;
}
.map-li {
  display: inline;
  margin-left: 8px;
}
.map-block {
  max-width: 1312px;
  width: 90vw;
  max-height: 480px;
  height: 50vh;
  background-color: rgb(224, 224, 224);
}
.map-text {
  font-family: "Roboto";
  font-size: 16px;
}

/*третья страничка */
.timer {
  display: flex;
  justify-content: center;
}
.timer-div {
  margin: 32px;
  padding: 32px;
  width: 1376px;
  height: 123;
  background-color: white;
  display: flex;
}
.timer-text {
  font-family: "Roboto";
  font-size: 16px;
}
.timer-time {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
}
.timer-ul {
  margin-left: auto;
  list-style-type: none;
}
.timer-li {
  display: inline;
  margin-left: 8px;
}
.timer-icon {
  width: 13px;
  height: 13px;
}/*# sourceMappingURL=style.css.map */